body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.button {
    text-decoration: none;
    font-weight: 850;
    background-image: linear-gradient(salmon, tomato);
    border-radius: 5px;
    padding: 10px 30px;
    color: white;

}

h1 {
    font-size: 50px;
}

.part-1 {
    background-image: url(donation13.jpg);
    background-size: cover;
    height: 80vh;
}

.alignment {
    text-align: center;
    padding-top: 150px;
    color: white;

}

p {
    font-size: 15px;
}

.button2 {
    text-decoration: none;
    font-weight: 850;
    background-image: linear-gradient(salmon, tomato);
    border-radius: 5px;
    padding: 10px 30px;
    color: white;

}

.part-2 {
    display: flex;
    flex-direction: column;
    text-align: ;
}

.width {
    width: 50%;
    text-align: justify;
}